<style>
        
        input{
            height: 90px;
            width: 330px;
            border-radius: 20px;
        }
        button{
            height: 80px;
            width: 80px;
            border-color: white;
            font-size: medium;
            border-radius: 20px;
        }   
        div{
            border-width: 2px;
            border-color: black;
            border-style: solid;
            border-radius: 20px;
            margin-left: 300px;
            margin-right: 300px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: mistyrose;
            margin-top: 200px;
            background-image: url("./img/math\ 4.jpg");

            
        }
        body {
            
            background-image: url("./img/astro.png");
            background-size: 86%;
            
        }
        input{
            background-color: lightgray;
            font-size: xx-large;
            background-image: url("./img/math\ 1.jpg");
        }
        button{
            background-color: bisque;
        }

        button:hover{
            background-color: black;
            cursor: grab;
            
        }
        .two:hover{
            background-color: aliceblue;
            cursor: grab;

        }

        button{
            background-image: url(./img/math\ 3.jpg);
        }

    </style>